@font-face {
  font-family: 'mSemiBold';
  src: url('./fonts/mBold/fMontserrat-SemiBold.eot') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}


@font-face {
  font-family: 'mLight';
  src: url('./fonts/mLight/Montserrat-Light.eot') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

body{
    background-color: #f0f5f6;
}

.main-container{
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    background-image: url("./background.jpg");
    height: 83.3vh;
}

.main-grid{
    width: 1531px;
    position: relative;
    margin-left: auto;
    margin-right: auto;
}

.main-head-container{
    width: 100%;
    height: 75vh;  
    position: relative;
}

.main-header-up{
    position: relative;
    width: 100%;
    height: 53px;
    top: 0;
    left: 0;
}

.head-logo-text{
  font-size: 16px;
  font-family: "mSemiBold";
  color: rgb(255, 255, 255);
}

.header-right-menu{
    position: relative;
    float: right;
    width: 42.3%;
    display: flex;
    justify-content: space-between;
}

.head-menu-items{
    width: 61.4%;
    display: table;
    margin-top: 18px;
}

.head-menu-item{
    font-size: 16px;
    font-family:"mSemiBold";
    color: rgb(255, 255, 255);
    display: table-cell;
    cursor: pointer;
}

.head-sign-in{
    width: 36%;
    height: 100%;
    border-width: 1px;
    border-color:#717473;
    border-style: solid;
    border-radius: 30px;
    outline: none;
    background: none;
    font-size: 12px;
    font-family: "mSemiBold";
    color: rgb(255, 255, 255);
    cursor: pointer;
}

.header-main-text{
    font-size: 6vh;
    font-family: "mSemiBold";
    color: rgb(255, 255, 255);
    width: 426px;
    left: 50%;
    position: relative;
    top: 21%;
    transform: translateX(-50%);
    text-align: center;
}

.header-search{
    width: 66%;
    height: 84px;
    background-color: white;
    border-radius: 50px;
    position: absolute;
    bottom: 17%;
    left: 50%;
    transform: translateX(-50%);
    background-image: url(./imgs/searchLogo.png);
    background-repeat: no-repeat;
    background-position-y: center;
    background-position-x: 34px;
}

.header-search-input{
     width: 57%;
    height: 91%;
    left: 15%;
    position: relative;
    outline: none;
    border: none;
    border-right: 1px solid #d9dadb;
    top: 50%;
    transform: translateY(-50%);
    font-size: 14px;
    font-family: "mLight";
    color: rgb(178, 178, 178);
}

.search-inline-btn{
    background-color: rgb(69, 69, 239);
    border-radius: 30px;
    position: absolute;
    right: 2%;
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 18%;
    height: 61%;
    font-size: 14px;
    font-family: "mSemiBold";
    color: rgb(255, 255, 255);
    cursor: pointer;
}

.header-slider{
    width: 100%;
    height: 30vh;
    position: absolute;
    bottom: 0;
    background-color: white;
    transform: translateY(100%);
}

