
@media screen and (max-width: 1700px){
    .sign-in-register .header-right-wrap {
        margin-right: 5%;
        width: 51%;
    }

    .sign-in-register .header-left-wrap {
        margin-left: 5%;
    }
}




@media screen and (max-width: 1450px){
    .header {
        width: 95.9%;
    }

    .person-list-middle-wrap {
        width: 95.9%;
    }

    .footer-top {
        padding: 0 2%;
    }

    .footer-contact {
        right: 3%;
        width: 35%;
    }

    .all-rights-reserved {
        right: 3%;
    }

    .footer-bottom {
        padding: 0 2%;
    }

    .sign-in-register .header-right-wrap {
        margin-right: 2%;
        width: 51%;
    }

    .sign-in-register .header-left-wrap {
        margin-left: 2%;
    }

    .technology-offer-text {
        font-size: 14px;
    }

}

