.header-container {
    height: 80vh;
    position: relative;
    width: 100%;
    top: 0;
}

.person-list-middle {
    position: relative;
    width: 100%;
    top: 0;
    max-width: 100%;
    margin: 0 auto;
}

.header {
    width: 79.9%;
    position: absolute;
    z-index: 15;
    height: 100px;
    line-height: 100px;
    max-width: 100%;
    left: 50%;
    transform: translateX(-50%);
}

.header-left-wrap {
    display: inline-block;
}

.header-right-wrap {
    display: inline-block;
}

.header-container-text {
    width: 27%;
    margin: 0 auto;
    position: relative;
    top: 31%;
    text-align: center;
    line-height: 65px;
    text-transform: uppercase;
    font-size: 6vh;
}

.header-container-search {
    width: calc(53% - 40px);
    display: inline-block;
    height: 80px;
    line-height: 80px;
    border-radius: 50px;
    padding-left: 40px;
    left: 50%;
    transform: translateX(-50%);
    position: relative;
    top: 30vh;
}



.header-explore-more span {
    display: block;
    line-height: 20px;
}

.header-explore-more {
    display: inline-block;
    margin-left: 40px;
    border-left: 1px solid white;
    padding-left: 20px;
    position: relative;
    top: 10px;
}

.explore-more-arrow {
    display: inline-block;
    margin-left: 20px;
}

.header-right-wrap {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    text-transform: uppercase;
    width: 45%;
}

.header-sign-in {
    display: inline-block;
    border: 1px solid white;
    border-radius: 50px;
    padding: 0 17%;
    height: 50px;
    line-height: 50px;
    text-align: center;
}

.header-right-wrap span {
    margin-right: 4%;
}

.header-categories{
    text-transform: uppercase;
}

.search-container-btn {
    display: inline-block;
    position: absolute;
    right: 5%;
    top: 50%;
    transform: translateY(-50%);
    padding: 8px 50px;
    border-radius: 50px;
    text-transform: uppercase;
}

.search-container-btn:after{
    content: '';
    position: absolute;
    height: 110%;
    width: 1px;
    background-color: #ebebeb;
    right: 140%;
    top: 0;
}

.person-list-middle-wrap {
    position: relative;
    width: 79.9%;
    max-width: 100%;
    margin: 0 auto;
    border-radius: 5px;
    top: -40px;
}

.daily-offer {
    display: inline-block;
    position: relative;
}

.daily-offer-text {
    width: 55%;
    display: inline-block;
    margin-left: 9%;
    height: 4.4vh;
    overflow: hidden;
}

.daily-offer-price {
    display: inline-block;
    position: relative;
    margin-left: 28.5%;
    top: -25px;
}

.daily-offers {
    height: 29vh;
    padding: 0 5%;
    border-radius: 5px;
    -webkit-box-shadow: 0px 0px 11px 2px rgba(0,0,0,0.1);
    -moz-box-shadow: 0px 0px 11px 2px rgba(0,0,0,0.1);
    box-shadow: 0px 0px 11px 2px rgba(0,0,0,0.1);
}


.daily-offers-title {
    padding: 30px 50px;
}

.daily-offer img {
    display: inline-block !important;
    border: 1px solid #f5f5f5;
    border-radius: 5px;
    padding: 10px;
}


.slick-dots {
    top: -60px !important;
    text-align: right !important;
    bottom: auto !important;
}

.daily-offer:after{
    content: '';
    position: absolute;
    height: 100%;
    width: 1px;
    background-color: #ebebeb;
    right: 12%;
    top: -10%;
    overflow: visible;
    z-index: 15;
}

.special-offers {
    margin-top: 100px;
    position: relative;
}


.special-offers-title {
    text-align: center;
    margin-bottom: 20px;
}

.orange-line {
    width: 4%;
    height: 3px;
    border: none;
    top: -10px;
    position: relative;
    text-align: center;
    left: -10px;
}

.grey-line{
    background-color: #e1e1e1;
    border: none;
    height: 1px;
}


.special-offer {
    width: calc(32% - 70px);
    display: inline-block;
    /* height: calc(58vh - 70px); */
    padding: 35px;
    border-radius: 5px;
    margin-right: 20px;
}

.special-offer-time-left {
    margin-bottom: 10px;
}

.author-profile-icon {
    width: 60px;
    height: 60px;
    border-radius: 50px;
    display: inline-block !important;
}


.author-name-position {
    display: inline-block;
    position: relative;
    top: 15px;
    margin-left: 15px;
}

span.full-name {
    display: block;
}

span.working-position {
    display: block;
}

img.more-btn {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
}

.special-offer-author {
    position: relative;
}

.special-offer-tags {
    margin-top: 18px;
}

.special-offer-tags span {
    padding: 5px 10px;
    border-radius: 50px;
    text-align: center;
}

.offer-img {
    width: 130px;
    height: 10vh !important;
    background-repeat: no-repeat;
    background-position: center center;
    border-radius: 10px;
    /* background-size: cover; */
}

.special-offer-images {
    margin-top: 30px;
}

.special-offer-text {
    margin-top: 20px;
}

.special-offer-images .slick-dots {
    bottom: -40px !important;
    top: auto !important;
    text-align: left !important;
}


.special-offer-images .slick-dots li {
    margin: 0 0 !important;
}

.special-offer-mini-info div {
    display: inline-block;
    position: relative;
}

.special-offer-mini-info div span {
    display: block;
}

.special-offer-mini-info {
    position: relative;
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
}

.special-offer-line {
    border: none;
    background: grey;
    height: 1px;
    margin-top: 58px;
}


.special-offer-list > .slick-dots {
    top: auto !important;
    bottom: -90px !important;
    text-align: center !important;
    background-color: white;
    border-radius: 5px;
    height: 60px;
    line-height: 60px;
}

.technology {
    margin-top: 150px;
}

.technology-title {
    text-align: center;
    margin-bottom: 20px;
}

.technology-item {
    width: calc(24%);
    display: inline-block;
    /*padding: 30px;*/
    border-radius: 10px;
    margin-right: 1%;
}

.technology-item .special-offer-author {
    top: 120px;
    position: relative;
    width: 85%;
    margin: 0 auto;
}

.technology-offer-text {
    /* margin-top: 20px; */
}

.technology-offer-top {
    height: 24vh;
    border-radius: 10px 10px 0 0;
}

.technology-offer-info {
    padding: 30px;
    border-radius: 0 0 10px 10px;
}

.technology-item .special-offer-line {
    margin-top: 20px;
}


.technology-offer-mini-info div {
    display: inline-block;
}

.technology-offer-mini-info span {
    display: block;
}

.technology-offer-mini-info {
    display: flex;
    justify-content: space-between;
}

.bottom-technology div {
    /* margin-bottom: 10px; */
    margin-top: 10px;
}


.special-offer-line{
    background-color: #eaeaea;
}


.technology-item:last-child {
    margin-right: 0;
}

.architecture {
    margin-top: 80px;
}

.load-more {
    margin-top: 70px;
    margin-bottom: 100px;
    border: 1px solid;
    display: inline-block;
    padding: 10px 70px;
    border-radius: 50px;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}

.footer-menu {
    width: 22%;
    display: flex;
    justify-content: space-between;
    position: absolute;
    line-height: 120px;
}

.footer-top {
    height: 120px;
    border-bottom: 1px solid #ebebeb;
    max-width: 100%;
    /* width: 1530px; */
    margin: 0 auto;
    padding: 0 10%;
    position: relative;
}

.footer {
}

.footer-bottom {
    position: relative;
    padding: 0 10%;
    height: 90px;
    line-height: 90px;
}

.all-rights-reserved {
    display: inline-block;
    position: absolute;
    right: 10%;
}

.footer-contact {
    position: absolute;
    right: 10%;
    display: flex;
    justify-content: space-between;
    width: 25%;
    /* line-height: 120px; */
    top: 50%;
    transform: translateY(-50%);
}

.join-us-btn {
    /* line-height: 20px; */
    padding: 10px 20px;
    border-radius: 3px;
}

.footer-contact span {
    position: relative;
}

.type-your-email {
    position: relative;
}

.sign-in-register .header-sign-in {
    border: 1px solid #4545ef;
}

.login-register-middle {
    position: relative;
    top: 150px;
    width: 1530px;
    max-width: 100%;
    margin: 0 auto;
    margin-bottom: 200px;
}

.login-register-left {
    width: 24%;
    left: 10%;
    position: relative;
    display: inline-block;
    height: 490px;
    padding: 10vh 8%;
    border-radius: 5px;
    -webkit-box-shadow: 0px 0px 11px 2px rgba(0,0,0,0.1);
    -moz-box-shadow: 0px 0px 11px 2px rgba(0,0,0,0.1);
    box-shadow: 0px 0px 11px 2px rgba(0,0,0,0.1);
    z-index: 15;
}


.input {
    width: 94%;
    position: relative;
    /* top: 0; */
    border: 1px solid #eef0f7;
    resize: none;
    height: 45px;
    line-height: 45px !important;
    padding: 0 0 0 22px;
    z-index: 8;
    border-radius: 4px;
    margin-top: 10px;
    /* width: 230px; */
}

a.login {
    display: block;
    padding: 10px 0;
    border-radius: 50px;
    text-align: center;
    text-decoration: none;
    margin-top: 20px;
    width: 100%;
}

.forgot-password {
    text-align: center;
    margin-top: 20px;
}

.between-line {
    width: 100%;
    border-bottom: 1px solid;
    text-align: center;
    position: relative;
    margin-top: 30px;
}

.sign-in-socials {
    position: relative;
    margin-top: 40px;
}

.login-with-fb {
    padding: 11px 20px;
    border-radius: 50px;
}

.login-with-gmail {
    padding: 10px 20px;
    border-radius: 50px;
    border: 1px solid grey;
    margin-top: 20px;
}

.login-with-fb span {
    margin-left: 51px;
}

.login-with-gmail span {
    margin-left: 30px;
}


.sign-in-register .header {
    width: 100%;
}

.sign-in-register .header-left-wrap {
    margin-left: 10%;
}

.sign-in-register .header-right-wrap {
    margin-right: 10%;
    width: 36%;
}

.between-line span {
    border: 1px solid #b2b2b2;
    border-radius: 50px;
    padding: 1px 2px;
    text-align: center;
    background-color: white;
    top: 0;
    position: absolute;
    transform: translate(-50%, -50%);
}

.login-register-right {
    position: absolute;
    right: 10%;
    top: 50%;
    transform: translateY(-50%);
    width: 24%;
    height: 290px;
    padding:  10vh 8%;
    border-radius: 5px;
    text-align: center;
}

.login-title-1 {
    margin-bottom: 20px;
}

.login-title-2 {
    margin-bottom: 20px;
}

.login-title-3 {
    margin-bottom: 20px;
}

.create-account-btn {
    margin-top: 3vh;
    border: 1px solid;
    border-radius: 50px;
    padding: 10px 95px;
    display: inline-block;
}

.sign-in-form{
    margin-top: 2vh;
}


.password-recovery .login-register-left{
    height: 290px;
    padding: 20vh 8%;
}


.password-recovered-text span:first-child {
    display: block;
}

.password-recovered-text {
    text-align: center;
    margin-top: 40px;
}

.password-recovered-img {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}

input:focus {
    border: 1px solid #4373ff;
    color: #4373ff;
}

input:invalid:not(:focus):not(:placeholder-shown){
    border: 1px solid #fe3d33;
    color: #fe3d33;
}


.register-page .login-register-left {
    position: relative;
    left: 90%;
    transform: translateX(-200%);
}

.register-page .login-register-right {
    position: relative;
    left: 11%;
    right: auto;
    transform: translateY(-15%);
    display: inline-block;
}

.register-page .login {
    border-radius: 5px;
    padding: 13px 0;
    margin-top: 20px;
}

.accept-terms{
    width: calc(63% + 22px);
    position: relative;
    left: 0;
    display: inline-block;
    margin-top: 12px;
}


label {
    display: inline-block;
    vertical-align: middle;
}


input#accept-terms-checkbox {
    width: 15px;
    height: 15px;
}


.chat-middle {
    width: 1530px;
    max-width: 100%;
    position: relative;
    margin: 0 auto;
    top: 120px;
    margin-bottom: 150px;
}

.chat-middle-left {
    width: calc(23% - 100px);
    padding: 50px;
    display: inline-block;
    position: absolute;
    border-radius: 10px;
}


.chat-person-settings {
    margin-top: 40px;
}

.chat-person-setting {
    margin-top: 10px;
    position: relative;
}

.chat-person-setting span {
    margin-left: 20px;
}

.unread-messages {
    display: inline-block;
    position: absolute;
    right: 0;
    border-radius: 50px;
    padding: 1px 5px;
}

.chat-person-other-stuff {
    margin-top: 40px;
}

.other-stuff {
    margin-top: 20px;
    position: relative;
}

.other-stuff img {
    position: absolute;
    right: 0;
}

.chat-middle-right {
    width: 75%;
    position: relative;
    top: 0;
    left: 100%;
    transform: translateX(-100%);
    display: inline-block;
    border-radius: 10px;
}

.chat-person-detailed-info {
    width: calc(42% - 100px);
    display: inline-block;
    padding: 50px;
    position: relative;
    -webkit-box-shadow: 0px 0px 11px 2px rgba(0,0,0,0.1);
    -moz-box-shadow: 0px 0px 11px 2px rgba(0,0,0,0.1);
    box-shadow: 0px 0px 11px 2px rgba(0,0,0,0.1);
    border-radius: 10px 0 0 10px;
}

.chat-middle .special-offer-mini-info {
    display: block;
    justify-content: initial;
}


.chat-middle .special-offer-mini-info div {
    display: block;
    position: relative;
    margin-bottom: 20px;
}

.person-chat {
    width: calc(57% - 100px);
    position: absolute;
    right: 0;
    top: 0;
    padding: 50px;
}

.chat-message {
    margin-top: 15px;
}

.one-message {
    margin-bottom: 35px;
}


.type-message {
    width: calc(57% - 32px);
    position: absolute;
    right: 0;
    bottom: 0;
    padding: 20px;
    -webkit-box-shadow: 0px 0px 11px 2px rgba(0,0,0,0.1);
    -moz-box-shadow: 0px 0px 11px 2px rgba(0,0,0,0.1);
    box-shadow: 0px 0px 11px 2px rgba(0,0,0,0.1);
    border-radius: 0 0 10px 0;
}

.message-and-other-stuff div {
    display: inline-block;
}

.message-and-other-stuff {
    display: inline-block;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
}

.type-message-top {
    position: relative;
}


.type-message-bottom input {
    border: none;
    width: 72%;
    margin-right: 30px;
}

.type-message-bottom {
    border-top: 1px solid #eef0f7;
    margin-top: 10px;
}

.type-message-bottom img {
    position: relative;
    margin-right: 13px;
}








