.header-container {
    height: 80vh;
    position: relative;
    width: 100%;
    top: 0;
}

.person-list-middle {
    position: relative;
    width: 100%;
    top: 0;
    max-width: 100%;
    margin: 0 auto;
}

.header {
    width: 1530px;
    position: absolute;
    z-index: 15;
    height: 100px;
    line-height: 100px;
    max-width: 100%;
    left: 50%;
    transform: translateX(-50%);
}

.header-left-wrap {
    display: inline-block;
}

.header-right-wrap {
    display: inline-block;
}

.header-container-text {
    width: 27%;
    margin: 0 auto;
    position: relative;
    top: 31%;
    text-align: center;
    line-height: 65px;
    text-transform: uppercase;
}

.header-container-search {
    width: calc(53% - 40px);
    display: inline-block;
    height: 80px;
    line-height: 80px;
    border-radius: 50px;
    padding-left: 40px;
    left: 50%;
    transform: translateX(-50%);
    position: relative;
    top: 30vh;
}



.header-explore-more span {
    display: block;
    line-height: 20px;
}

.header-explore-more {
    display: inline-block;
    margin-left: 40px;
    border-left: 1px solid white;
    padding-left: 20px;
    position: relative;
    top: 10px;
}

.explore-more-arrow {
    display: inline-block;
    margin-left: 20px;
}

.header-right-wrap {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    text-transform: uppercase;
    width: 45%;
}

.header-sign-in {
    display: inline-block;
    border: 1px solid white;
    border-radius: 50px;
    padding: 0 17%;
    height: 50px;
    line-height: 50px;
    text-align: center;
}

.header-right-wrap span {
    margin-right: 4%;
}

.header-categories{
    text-transform: uppercase;
}

.search-container-btn {
    display: inline-block;
    position: absolute;
    right: 5%;
    top: 50%;
    transform: translateY(-50%);
    padding: 8px 50px;
    border-radius: 50px;
    text-transform: uppercase;
}

.search-container-btn:after{
    content: '';
    position: absolute;
    height: 110%;
    width: 1px;
    background-color: #ebebeb;
    right: 140%;
    top: 0;
}

.person-list-middle-wrap {
    position: relative;
    width: 1530px;
    max-width: 100%;
    margin: 0 auto;
    border-radius: 5px;
    top: -40px;
}

.daily-offer {
    display: inline-block;
    position: relative;
}

.daily-offer-text {
    width: 55%;
    display: inline-block;
    margin-left: 9%;
    height: 4.4vh;
    overflow: hidden;
}

.daily-offer-price {
    display: inline-block;
    position: relative;
    margin-left: 28.5%;
    top: -25px;
}

.daily-offers {
    height: 29vh;
    padding: 0 5%;
    border-radius: 5px;
    -webkit-box-shadow: 0px 0px 11px 2px rgba(0,0,0,0.1);
    -moz-box-shadow: 0px 0px 11px 2px rgba(0,0,0,0.1);
    box-shadow: 0px 0px 11px 2px rgba(0,0,0,0.1);
}


.daily-offers-title {
    padding: 30px 50px;
}

.daily-offer img {
    display: inline-block !important;
    border: 1px solid #f5f5f5;
    border-radius: 5px;
    padding: 10px;
}


.slick-dots {
    top: -60px !important;
    text-align: right !important;
    bottom: auto !important;
}

.daily-offer:after{
    content: '';
    position: absolute;
    height: 100%;
    width: 1px;
    background-color: #ebebeb;
    right: 12%;
    top: -10%;
    overflow: visible;
    z-index: 15;
}

.special-offers {
    margin-top: 100px;
    position: relative;
}


.special-offers-title {
    text-align: center;
    margin-bottom: 20px;
}

.orange-line {
    width: 4%;
    height: 3px;
    border: none;
    top: -10px;
    position: relative;
    text-align: center;
    left: -10px;
}

.grey-line{
    background-color: #e1e1e1;
    border: none;
    height: 1px;
}


.special-offer {
    width: calc(32% - 70px);
    display: inline-block;
    height: calc(58vh - 70px);
    padding: 35px;
    border-radius: 5px;
}

.special-offer-time-left {
    margin-bottom: 10px;
}

.author-profile-icon {
    width: 60px;
    height: 60px;
    border-radius: 50px;
}


.author-name-position {
    display: inline-block;
    position: relative;
    top: 15px;
    margin-left: 15px;
}

span.full-name {
    display: block;
}

span.working-position {
    display: block;
}

img.more-btn {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
}

.special-offer-author {
    position: relative;
}

.special-offer-tags {
    margin-top: 18px;
}

.special-offer-tags span {
    padding: 5px 10px;
    border-radius: 50px;
    text-align: center;
}

.offer-img {
    width: 130px;
    height: 10vh !important;
    background-repeat: no-repeat;
    background-position: center center;
    border-radius: 10px;
    /* background-size: cover; */
}

.special-offer-images {
    margin-top: 30px;
}

.special-offer-text {
    margin-top: 20px;
}

.special-offer-images .slick-dots {
    bottom: -40px !important;
    top: auto !important;
    text-align: left !important;
}


.special-offer-images .slick-dots li {
    margin: 0 0 !important;
}

.special-offer-mini-info div {
    display: inline-block;
    position: relative;
}

.special-offer-mini-info div span {
    display: block;
}

.special-offer-mini-info {
    position: relative;
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
}

.special-offer-line {
    border: none;
    background: grey;
    height: 1px;
    margin-top: 58px;
}







